<div class="container px-5 px-sm-0">

  <% if @book.errors.any? %>
  <div id="error_explanation">
  <h3><%= @book.errors.count %> error prohibited this book from being saved:</h3>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="row">
    <%= render 'users/info', user: @current_user, book: @book %>

    <%= render 'books/list', books: @books, user: @user %>
  </div>
</div>